$light-white: #fafdfd;
$soft-white: #EFEFEF;
$dark-white: #d1d1d1;
$darker-white: #909090;
$white: #ffffff;
$light-gray: #bbbbbb;
$gray: #464646;
$lighter-blue: #47baf6;
$light-blue: #40a8df;
$bg-color: #F9F9F9;
