@import '../../style/colors';

.comments {
  display: flex;
  flex-direction: column;

  margin: 40px auto;

  background-color: $soft-white;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(1, 1, 1, 0.1);

  width: 350px;
  height: 475px;
}